.wapper
  <!DOCTYPE html>
  %html(lang="en")
    %head
      %meta(charset="UTF-8")/
      %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
      %meta(http-equiv="X-UA-Compatible" content="ie=edge")/
      %title Document
    %body
      %header
        .heading
          %h1.title Error Solution
        .menu
          .solutions 
          .edit
        .navbar
          %ul.genre
            %li Ruby
            %li Rails
            %li JavaScript
            %li HTML
            %li CSS
            %li AWS
            %li SQL
            %li jQuery
      .main
        .content
          .about 
            WHAT?
            .input_area
          .code 
            CODE?
            .input_area
          .case  
            WHY?
            .input_area
          .solution 
            HOW TO?
            .input_areas
          .submit
            INPUT




