//index
.heading{
  height: 50px;
  width: 100%;
  background-color: aqua;
  text-align: center;
  font-size: 35px;
}
.menu{
  height: 50px;
  width: 100%;
}
.navbar{
  height: 50px;
  width: 100%;
  background-color: blue;
  .genre{
    display: flex;
    justify-content: space-between;
  }
}
.main{
  display: flex;
  justify-content: center;
  .content{
    background-color: brown;
    width: 500px;
    height: 550px;
    margin-top: 20px;
    text-align: center;
    .about{
      height: 100px;
    }
    .code{
      height: 100px;
    }
    .case{
      height: 100px;
    }
    .solution{
      height: 160px;
      .input_areas{
        background-color: cornflowerblue;
        height: 140px;
      }
    }
    .submit{
      margin-top: 30px;
    }
    .input_area{
      background-color: cornflowerblue;
      height: 80px;
    }
  }
}
